.navbar {
  width: 100%;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-expand-sm {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.bg-primary {
  background-color: #007bff !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.navbar-expand-sm .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav {
  list-style: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
#form_search {
  max-width: 595px;
  margin: 0 auto;
  height: 58px;
}
.MuiOutlinedInput-root {
  background-color: #fff;
}
