* {
  font-family: "Quicksand", sans-serif;
}
body {
  background: #f2f2e5;
}
.hide {
  display: none im !important;
}
.pokemon_name {
  text-transform: capitalize;
  text-align: center;
  padding-top: 40px;
  font-weight: 500;
}
.pokemon_name_title {
  text-transform: capitalize;
  font-weight: 500;
  padding-top: 15px;
}
.pokemon_container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
  border-top: 1px solid #8e8e8e;
  height: 160px;
  background: #ffffff;
}
.pokemons_container {
  width: 100%;
  margin: 0 auto;
}
.pokemon_container:first-child {
  border-top: 1px solid #8e8e8e;
  border-bottom: 0px;
}
.pokemon_container:last-child {
  border-bottom: 1px solid #8e8e8e;
  border-top: 1px solid #8e8e8e;
}
.pokemon_container img {
  float: left;
  height: 96px;
  width: 96px;
  text-align: start;
  margin: -38px 0 0 0;
  position: relative;
}
.pokemon_overview_container {
  text-align: center;
  margin: 0 auto;
  background: url("./assets/img/pokemon_grass_background.jpg") no-repeat center
    center;
  background-size: contain;
  background-attachment: fixed;
  border-radius: 50px;
}
.pokeball-img,
.pokemon_image {
  text-align: center;
}
#container_login {
  margin-top: 15%;
  padding: 30px;
  background: #ffffff;
  min-height: 300px;
}
.error_msg {
  color: darkred;
  width: 100%;
  position: relative;
  float: left;
}
#container_login .MuiFormControl-root {
  width: 100%;
}

.btnBack {
  margin: 3% 20%;
}
.btnAddToMyFavorites {
  margin: 30px 10px !important;
}
.btnAddToMyFavorites:focus,
button:focus {
  outline: none !important;
}
.paperDetails {
  min-height: "650px";
}
.MuiTabs-flexContainer button.Mui-selected {
  background: #ca1f2f !important;
  color: #ffffff !important;
}
footer {
  background: #0b63af !important;
  margin-top: -16px;
}
main {
  background: url("./assets/img/background_art_for_pokemon.jpg") no-repeat
    center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 900px;
}
.search_field {
  max-width: 435px;
  float: left;
}
.clear_btn {
  min-height: 55px;
  float: right;
}
.pagination {
  margin-left: 120px;
}
.btn_overview {
  margin: 0 10px !important;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
@media screen and (max-width: 750px) {
  .search_field {
    max-width: 230px;
  }
  .clear_btn {
    margin-right: 95px !important;
  }
  .pagination {
    margin-left: 3px;
  }
  .btn_overview {
    margin: 5px 10px !important;
  }
}
